gvcf/*
results/*
logs/*
example_data/*
.snakemake/
AGENTS.md
tests/__pycache__/
!example_data/ind1.maf.gz
!example_data/ind2.maf.gz
!example_data/ind3.maf.gz
!example_data/ind4.maf.gz
!example_data/ref.dict
!example_data/ref.fa
!example_data/ref.fa.fai
